body{
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-image: url('background.png');
  background-position: center center;
  background-repeat: no-repeat; /*we want to have one single image not a repeated one */
  background-attachment: fixed;
  background-size: cover; /*this sets the image to fullscreen covering the whole screen */
  background-color: white; /** when image is loading, the background is white */
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.image.jpg',sizingMethod='scale');
  -ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='image.jpg',sizingMethod='scale')";

}


/****************** First section ******************/

.column {
  height: 150px;
  font-size: 25px;
  background-color: white;
  float: left;
  margin-bottom: 20px;

}

@media screen and (max-width: 1050px) {

  .column-right {
    font-size: 35px;
  }
} /** bigger font on smaller screens **/


/****************** left column ******************/

.column-left {
  /** background-color: #E2E0E0; **/
  background-color: rgba(255, 255, 255, 0.3); /** background transparant **/
  text-align: center;
  width: 40%;
  height: 150px;
}


.top-bar-logo {
  height: 150px;
}


/****************** right column ******************/

.column-right {
  /** background-color: #E8D6D6; **/
  background-color: rgba(255, 255, 255, 0.3); /** background transparant **/
  text-align: center;
  width: 60%;
  height: 150px;
  line-height: 40px;
}


/****************** Drop-down button ******************/

.dropbtn {
  color: #8D1C32;
  padding: 16px;
  font-size: 35px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  color: #A3737D;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-top: 60px;
}

.dropdown-content {
  display: none;
  position: relative;
  min-width: 160px;
  width: 100%;
  overflow: auto;
  z-index: 1;
  padding: 16px;

}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: rgba(255, 255, 255, 0.3); /** background transparant **/
}

.dropdown a:hover {
}

.show {
  display: block;
}


/************************************/


 .column-right li {
   display: block;
   color: #8D1C32;
   padding: 0 20px;
   display: none;
 }


@media screen and (min-width: 1050px) {
 .column-right li {
    padding: 0 20px;
    display: inline-block;
 }
 ul {
   margin-top: 60px;
 }
 .dropdown {
   display: none;
 }
}

.column-right a {
  color: #8D1C32;
  text-decoration: none;
}

.column-right a:hover {
  color: #A3737D;
  text-decoration: none;
}




/****************** 2nd section ******************/

.top-hr {
  width: 80%;
  border-width: 2px;
  color: #B9B9B9;
}

.second-section {

}

.team-img {
  width: 800px;

}
