body{
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-image: url('background.png');
  background-position: center center;
  background-repeat: repeat-y; /*we want to have one single image not a repeated one */
  background-attachment: fixed;
  background-size: cover; /*this sets the image to fullscreen covering the whole screen */
  background-color: white; /** when image is loading, the background is white */

}

hr {
  border-color: #9F9F9F;
  width: 50%;
  border-style: none;
  border-top-style: solid;
  border-width: 1.5px;
  padding: 20px;
}

/****************** First section ******************************************************/

.first-section {
}

@media screen and (max-width: 1050px) {


}

.column {
  height: 150px;
  width: 50%;
  font-size: 25px;
  float: left;
  margin-bottom: 200px;
  border-bottom: solid #8D1C32;


}




/****************** left column ******************************************************/

.column-left {
  background-color: rgba(255, 255, 255, 0.9); /** background transparant **/
  text-align: center;
  height: 150px;
}

.top-bar-logo {
  height: 140px;
  clear: left;
  padding-bottom: 5px;
}




/****************** right column ******************************************************/

.column-right {
  background-color: rgba(255, 255, 255, 0.9); /** background transparant **/
  text-align: center;
  height: 150px;
  line-height: 40px;
}


/****************** Drop-down button ******************************************************/

.dropbtn {

  background-image: url('menu.png');
  width: 80px;
  height: 55px;
  border: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);

  /** color: #8D1C32;
  padding: 16px;
  font-size: 35px;
  font-weight: 700;     if text is used**/
}

.dropbtn:hover {
  opacity: 0.7;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-top: 60px;

}

.dropdown-content {
  display: none;
  position: relative;
  min-width: 160px;
  width: 100%;
  overflow: auto;
  z-index: 1;
  padding: 16px;

}

.dropdown-content a {
  padding: 20px 16px;
  font-weight: 700;
  text-decoration: none;
  display: block;
  background-color: rgba(255, 255, 255, 0.99); /** background transparant **/
}

.dropdown-content-last {
  border-bottom: solid #8D1C32;
}

.dropdown a:hover {
}

.show {
  display: block;
}


/************************************/


 .column-right li {
   display: block;
   color: #8D1C32;
   padding: 0 20px;
   display: none;
 }


@media screen and (min-width: 1050px) {
 .column-right li {
    padding: 0 20px;
    display: inline-block;
 }
 ul {
   margin-top: 60px;
 }
 .dropdown {
   display: none;
 }
}

.column-right a {
  color: #8D1C32;
  text-decoration: none;
}

.column-right a:hover {
  color: #A3737D;
  text-decoration: none;
}


@media screen and (max-width: 1050px) {

  .column-right {
    font-size: 35px;
  }
  .column {
    height: 200px;
  }
  .top-bar-logo {
    height: 185px;
  }

} /** bigger font on smaller screens **/


/****************** 2nd section ******************************************************/



.second-section {
  padding-top: 50px;
  margin-bottom: 100px;
  text-align: center;
}

.resultat {
  width: 50%;
  float: left;
}
.nextgame {
  width: 50%;
  float: left;
  margin-bottom: 100px;
}

.resultat-bild {
  width: 400px;
  margin-bottom: 100px;
}

.nextgame-bild {
  width: 400px;
  margin-bottom: 100px;
}

@media screen and (max-width: 1050px) {
  .column {
    margin-bottom: 250px;
  }
  .resultat {
    width: 100%;
  }
  .nextgame {
    width: 100%;
  }
  .resultat-bild {
    margin: 0 0 100px 0;
  }
  .nextgame-bild {
    margin-bottom: 0 0 150px 0;
  }
}

/****************** 3rd section ******************************************************/

.third-section {
  width: 100%;

  text-align: center;
}

.tabell {
  width: 100%;
}

.tabell-bild {
  width: 550px;
  margin: 100px 0;
}


@media screen and (max-width: 1050px) {
  .column {
    margin-bottom: 250px;
  }
  .resultat {
    width: 100%;
  }
  .nextgame {
    width: 100%
  }
  .resultat-bild {
    width: 550px;
    margin-bottom: 100px;
  }
  .nextgame-bild {
    width: 550px;
    margin-bottom: 150px;
  }
}





/****************** 4th section ******************************************************/
