body{
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-image: url('background.png');
  background-position: center center;
  background-repeat: no-repeat; /*we want to have one single image not a repeated one */
  background-attachment: fixed;
  background-size: cover; /*this sets the image to fullscreen covering the whole screen */
  background-color: white; /** when image is loading, the background is white */
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.image.jpg',sizingMethod='scale');
  -ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='image.jpg',sizingMethod='scale')";
}


/****************** First section ******************/

.column {
  height: 150px;
  font-size: 25px;
  background-color: white;
  float: left;
  margin-bottom: 200px;

}




/****************** left column ******************/

.column-left {
  /** background-color: #E2E0E0; **/
  background-color: rgba(255, 255, 255, 0.3); /** background transparant **/
  text-align: center;
  width: 50%;
  height: 150px;
}

.top-bar-logo {
  height: 150px;
  clear: left;
}




/****************** right column ******************/

.column-right {
  /** background-color: #E8D6D6; **/
  background-color: rgba(255, 255, 255, 0.3); /** background transparant **/
  text-align: center;
  width: 50%;
  height: 150px;
  line-height: 40px;
}


/****************** Drop-down button ******************/

.dropbtn {

  background-image: url('menu.png');
  width: 80px;
  height: 55px;
  border: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);

  /** color: #8D1C32;
  padding: 16px;
  font-size: 35px;
  font-weight: 700;     if text is used**/
}

.dropbtn:hover {
  opacity: 0.7;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-top: 60px;
}

.dropdown-content {
  display: none;
  position: relative;
  min-width: 160px;
  width: 100%;
  overflow: auto;
  z-index: 1;
  padding: 16px;

}

.dropdown-content a {
  padding: 20px 16px;
  font-weight: 700;
  text-decoration: none;
  display: block;
  background-color: rgba(255, 255, 255, 0.3); /** background transparant **/
}

.dropdown a:hover {
}

.show {
  display: block;
}


/************************************/


 .column-right li {
   display: block;
   color: #8D1C32;
   padding: 0 20px;
   display: none;
 }


@media screen and (min-width: 1050px) {
 .column-right li {
    padding: 0 20px;
    display: inline-block;
 }
 ul {
   margin-top: 60px;
 }
 .dropdown {
   display: none;
 }
}

.column-right a {
  color: #8D1C32;
  text-decoration: none;
}

.column-right a:hover {
  color: #A3737D;
  text-decoration: none;
}


@media screen and (max-width: 1050px) {

  .column-right {
    font-size: 35px;
  }
  .column {
    height: 180px;
  }
  .top-bar-logo {
    height: 180px;
  }

} /** bigger font on smaller screens **/


/****************** 2nd section ******************/



.second-section {
  width: 100%;
  padding-top: 50px;
  text-align: center;
}

.resultat {
  width: 50%;
  float: left;
}

.resultat-bild {
  width: 450px;
  margin-bottom: 60px;
}

.nextgame {
  width: 50%;
  float: left;
}

@media screen and (max-width: 1050px) {
  .column {
    margin-bottom: 250px;
  }
  .resultat {
    width: 100%;
  }
  .nextgame {
    width: 100%
  }
}
