body{
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  background-image: url('background.png');
  background-position: center center;
  background-repeat: repeat-y; /*we want to have one single image not a repeated one */
  background-attachment: fixed;
  background-size: cover; /*this sets the image to fullscreen covering the whole screen */
  /** background-color: white; /** when image is loading, the background is white */

}

hr {
  border-color: #9F9F9F;
  width: 50%;
  border-style: none;
  border-top-style: solid;
  border-width: 1.5px;
  padding: 20px;
}

/****************** First section ******************************************************/

.first-section {
}


.column { /** both columns in the first section **/
  height: 150px;
  font-size: 25px;
  float: left;
  margin-bottom: 100px; /** push down second-section **/
  border-bottom: solid #8D1C32;
  background-color: rgba(255, 255, 255, 0.8); /** background transparant **/
}


/****************** left column ******************************************************/

.column-left {
  text-align: right;
  height: 150px;
  width: 25%;
}

.top-bar-logo {
  height: 140px;
  clear: left;
  padding-bottom: 5px;
}

/****************** middle column ******************************************************/

.column-middle {
  text-align: left;
  height: 150px;
  width: 25%;
  line-height: 40px;
  color: #8D1C32;
  padding: 60px 0 0 20px;
}


/****************** right column ******************************************************/

.column-right {
  text-align: center;
  width: 50%;
  height: 150px;
  line-height: 40px;
}


/****************** Drop-down button ******************************************************/

.dropbtn {

  background-image: url('menu.png');
  width: 80px;
  height: 55px;
  border: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);

  /** color: #8D1C32;
  padding: 16px;
  font-size: 35px;
  font-weight: 700;     if text is used**/
}

.dropbtn:hover {
  opacity: 0.7;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-top: 60px;

}

.dropdown-content {
  display: none;
  position: relative;
  min-width: 160px;
  width: 100%;
  overflow: auto;
  z-index: 1;
  padding: 16px;

}

.dropdown-content a {
  padding: 20px 16px;
  font-weight: 700;
  text-decoration: none;
  display: block;
  background-color: rgba(255, 255, 255, 0.99); /** background transparant **/
}

.show {
  display: block;
}


/************************************/


 .column-right li {
   display: block;
   color: #8D1C32;
   padding: 0 20px;
   display: none;
 }


@media screen and (min-width: 1050px) {
 .column-right li {
    padding: 0 20px;
    display: inline-block;
 }
 ul {
   margin-top: 60px;
 }
 .dropdown {
   display: none;
 }
}

.column-right a {
  color: #8D1C32;
  text-decoration: none;
}

.column-right a:hover {
  color: #A3737D;
  text-decoration: none;
}


@media screen and (max-width: 1050px) {

  .column-right {
    font-size: 35px;
  }
  .column-middle {
    padding: 70px 20px;
  }
  .column {
    height: 200px;
  }
  .top-bar-logo {
    height: 185px;
  }

} /** bigger font on smaller screens **/


/****************** 2nd section ******************************************************/



.second-section {
  padding-top: 50px;
  text-align: center;
}

@media screen and (min-width: 1050px) { /** when above 1050px static will not show **/
  .result-static {
  display: none;
  }
}
@media screen and (max-width: 1050px) { /** when below 1050px static will be present and shown inline-block in order for it to look good **/
  .second-section {
  display: inline-block;
  }
}

/**** static *****/

.result-static {
  width: 100%;
  margin: 0 0 50px 0;
  height: 600px;
}

.static-header {
  margin-top: 80px;
}

.static-image {
  width: 50%;
  margin-bottom: 20px;
}

.static-match {
  width: 40%;
  float: left;
  padding: 5%;
}

.static-match2 {
  width: 20%;
  float: left;
  padding-top: 8%;
}
.static-match2 h1 {
  font-size: 60px;
}

/****************** Carousel **********************/

#result-carousel {
  text-align: center;
  color: black;
  width: 600px;;
  display: none;
}

@media screen and (min-width: 1050px) {
  #result-carousel {
    display: inline;
  }
}

#result-carousel h2 {
  margin-top: 30px;
}

.result-carousel-image {
  width: 50%;
}


/** next and prev control in carousel **/
.carousel-control-prev,
.carousel-control-next {
  height: 50%;
  top: 30%;
}

.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23833' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23833' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

/***************/

.carousel-item {
  padding: 5% 15%;
  height: 800px;
}

.carousel-match {
  width: 40%;
  float: left;
  padding: 5%;
}

.carousel-match2 {
  width: 20%;
  float: left;
  padding-top: 8%;
}
.carousel-match2 h1 {
  font-size: 60px;
}

.carousel-goals {
  padding: 40% 0;
}


.carousel-nextmatch {
  width: 50%;
  float: left;
  padding: 5% 10%;
}


/****************** 3rd section ******************************************************/

.third-section {
  width: 100%;
  text-align: center;
}

.tabell {
  width: 100%;
}

.tabell-bild {
  width: 550px;
  padding: 100px 0;
}


@media screen and (max-width: 1050px) { /** Push down second section on smaller screens **/
  .column {
    margin-bottom: 250px;
  }
}





/****************** 4th section ******************************************************/
