body{
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  background-image: url('background.png');
  background-position: center center;
  background-repeat: repeat-y; /*we want to have one single image not a repeated one */
  background-attachment: fixed;
  background-size: cover; /*this sets the image to fullscreen covering the whole screen */
  /** background-color: white; /** when image is loading, the background is white */

}


/****************** First section ******************************************************/

.first-section {
  height: 150px;
}


.column { /** both columns in the first section **/
  height: 150px;
  font-size: 25px;
  float: left;
  margin-bottom: 100px; /** push down second-section **/
  border-bottom: solid #8D1C32;
  background-color: rgba(255, 255, 255, 0.99); /** background transparant **/
}


/****************** left column ******************************************************/

.column-left {
  text-align: right;
  height: 150px;
  width: 20%;
}

.top-bar-logo {
  height: 140px;
  clear: left;
  padding: 5px 0;
}

/****************** middle column ******************************************************/

.column-middle {
  text-align: left;
  height: 150px;
  width: 20%;
  line-height: 40px;
  color: #8D1C32;
  padding: 60px 0 0 20px;
}


/****************** right column ******************************************************/

.column-right {
  text-align: center;
  width: 60%;
  height: 150px;
  line-height: 40px;
}


/****************** Drop-down button ******************************************************/

.dropbtn {

  background-image: url('menu.png');
  width: 80px;
  height: 55px;
  border: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);

  /** color: #8D1C32;
  padding: 16px;
  font-size: 35px;
  font-weight: 700;     if text is used**/
}

.dropbtn:hover {
  opacity: 0.7;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-top: 60px;

}

.dropdown-content {
  display: none;
  position: relative;
  min-width: 160px;
  width: 100%;
  overflow: auto;
  z-index: 1;
  padding: 16px;

}

.dropdown-content a {
  padding: 20px 16px;
  font-weight: 700;
  text-decoration: none;
  display: block;
  background-color: rgba(255, 255, 255, 0.99); /** background transparant **/
}

.show {
  display: block;
}


/************************************/


 .column-right li {
   display: block;
   color: #8D1C32;
   padding: 0 20px;
   display: none;
 }


@media screen and (min-width: 1060px) {
 .column-right li {
    padding: 0 20px;
    display: inline-block;
 }
 ul {
   margin-top: 60px;
 }
 .dropdown {
   display: none;
 }
}

.column-right a {
  color: #8D1C32;
  text-decoration: none;
}

.column-right a:hover {
  color: #A3737D;
  text-decoration: none;
}


@media screen and (max-width: 1050px) {

  .column-right {
    font-size: 35px;
  }
  .column-middle {
    padding: 70px 20px;
  }
  .column {
    height: 200px;
  }
  .top-bar-logo {
    height: 185px;
  }

} /** bigger font on smaller screens **/


/****************** 2nd section ******************************************************/




.second-section {
  text-align: center;
}

@media screen and (max-width: 1050px) { /** Push down second section on smaller screens **/
  .first-section {
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 1050px) { /** when above 1050px static will not show **/
  .result-static {
  display: none;
  }
}
@media screen and (max-width: 1050px) { /** when below 1050px static will be present and shown inline-block in order for it to look good **/
  .second-section {
  display: inline-block;
  }
}

/**** static *****/

.result-static {
  width: 100%;
  margin: 0 0 50px 0;
  height: 600px;
}

.static-header {
  margin-top: 80px;
}

.static-header,
.carousel-header {
}

.static-image {
  width: 50%;
  margin-bottom: 20px;
}

.static-match {
  width: 40%;
  float: left;
  padding: 5%;
}

.static-match2 {
  width: 20%;
  float: left;
  padding-top: 8%;
}
.static-match2 h1 {
  font-size: 60px;
}
.header-clear{ /** in order to not push h2 when team name is long **/
  clear: both;
}

/****************** Carousel **********************/

#result-carousel {
  text-align: center;
  color: black;
  width: 600px;;
  display: none;
}

@media screen and (min-width: 1050px) {
  #result-carousel {
    display: inline;
  }
}

#result-carousel h2 {
  margin-top: 30px;
}

.result-carousel-image {
  width: 50%;
}


/** next and prev control in carousel **/
.carousel-control-prev,
.carousel-control-next {
  height: 50%;
  top: 30%;
}

.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23833' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23833' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

/***************/

.carousel-item {
  padding: 5% 15%;
  height: 800px;
}

.carousel-match {
  width: 40%;
  float: left;
  padding: 5%;
}

.carousel-match2 {
  width: 20%;
  float: left;
  padding-top: 8%;
}
.carousel-match2 h1 {
  font-size: 60px;
}

.carousel-goals {
  padding: 40% 0;
}


.carousel-nextmatch {
  width: 50%;
  float: left;
  padding: 5% 10%;
}




/********************************************* Footer ******************************************/

#footer {
  height: 100px;
  background-color: white;
  border-top: solid #8D1C32;
}

#footer div {
  width: 70%;
  margin-left: 15%;
  text-align: left;
}

#footer p {
  margin-top: 20px;
}





/***************************************************************************************************/
/********************************************* SPELSCHEMA ******************************************/
/***************************************************************************************************/



.second-section-spelschema {
  text-align: center;
  width: 100%;
  font-size: 120%;
}

.second-section-spelschema li {
  list-style: none;
  display: inline-block;
  vertical-align: middle;
}

.second-section-spelschema ul {
  margin-bottom: 10px;
  padding-inline-start: 0;
}

.second-section-spelschema hr {
  width: 500px;
  border-top: solid 1px;
}

.second-section-spelschema h1 {
  font-size: 40px;
  margin-bottom: 25px;
}

.second-section-spelschema h2 {
  font-size: 30px;
}

.second-section-spelschema h3 {
}

.second-section-spelschema img {
  width: 30%;
}

@media screen and (max-width: 1050px) {
  .second-section-spelschema h1 {
    font-size: 40px;
    padding-bottom: 50px;
  }
}


@media screen and (max-width: 1050px) {
  .second-section-spelschema li {
    width: 30%;
    margin: 10px 0;
  }
  .second-section-spelschema hr {
    width: 70%;
  }
}

@media screen and (max-width: 1050px) { /** Push down second section on smaller screens **/
  .second-section-spelschema, .second-section-spelschema h2, .second-section-spelschema h3 {
    font-size: 150%;
  }
}

/****************** 3rd section ******************************************************/
/****************** Tabell ******************/

.third-section-tabell {
text-align: center;
font-size: 120%;
margin: 100px 0;
}

.td-2 {
  text-align: left;
}

.third-section-tabell table, th, td {
  border-collapse: collapse;
  text-align: center;
}

.td-border-bottom {
  border-bottom: solid #4E8133;
}

.td-border-top {
  border-top: solid #AD3232;
}



#table-tabell {
  width: 70%;
  margin-left: 15%;
  border: 1px solid #8D1C32;
}

@media screen and (max-width: 1050px) {
  #table-tabell {
    width: 90%;
    margin-left: 5%;
  }
  .third-section-tabell {
  text-align: center;
  font-size: 150%;
  }
}

#table-tabell th, td {
  padding: 15px;
}

#table-tabell th {
  border-bottom: 1px solid #8D1C32;
}


#table-tabell tr:nth-child(even) {
  background-color: #F9F7F5;
}
#table-tabell tr:nth-child(odd) {
  background-color: #fff;
}


/***************************************************************************************************/
/********************************************* Skytteliga ******************************************/
/***************************************************************************************************/



.second-section-skytteliga {
text-align: center;
height: 1000px;
font-size: 120%;
}

.second-section-skytteliga table, th, td {
  border-collapse: collapse;
  text-align: center;
}
#table-skytteliga {
  width: 70%;
  margin-left: 15%;
  border: 1px solid #8D1C32;
}

@media screen and (max-width: 1050px) { /** Push down second section on smaller screens **/
  #table-skytteliga {
    width: 90%;
    margin-left: 5%;
  }
  .second-section-skytteliga {
  text-align: center;
  font-size: 150%;
  }
}

#table-skytteliga th, td {
  padding: 15px;
}

#table-skytteliga th {
  border-bottom: 1px solid #8D1C32;
}


#table-skytteliga tr:nth-child(even) {
  background-color: #F9F7F5;
}
#table-skytteliga tr:nth-child(odd) {
  background-color: #fff;
}
