body{
  text-align: center;
  width: 80%;
  margin: 0 10%;
  font-size: 110%;

  background-image: url('background.png');
  background-position: center center;
  background-repeat: no-repeat; /*we want to have one single image not a repeated one */
  background-attachment: fixed;
  background-size: cover; /*this sets the image to fullscreen covering the whole screen */
  background-color: white; /** when image is loading, the background is white */
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.image.jpg',sizingMethod='scale');
  -ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='image.jpg',sizingMethod='scale')";

}


hr {
  width: 85%;
  border-width: 2.5px;
  color: #B9B9B9;
  height: 10px;
}


/****************** First section ******************/

.first-section {
  height: 120px;
  margin: 10px 0;
}


/****************** left column ******************/

.column-left {
  /** background-color: #E2E0E0; **/
  width: 47%;
  margin-left: 3%;
  text-align: left;
}

.top-bar-logo {
  height: 120px;
  margin: 0 15px;
  float: left;
}

.arsta-vastra {
  margin: 15px;
  color: #8D1C32;
}




/****************** right column ******************/

.column-right {
  /** background-color: #E2E0E0; **/
  width: 50%;
  position: relative;
}

.column-right li {
  margin-top: 12px;
}

.navbar {
  position: absolute;
  top: 15%;
  left: 55%;
  margin-right: -45%;
  transform: translate(-50%, -50%);
}

.navbar-toggler {
  position: absolute;
  top: 200%;
}

.navbar-collapse {
  text-align: left;
  position: absolute;
  top: 300%;
  transform: translate(-50%, -50%);
}

.show {
  text-align: left;
  position: absolute;
  top: 1200%;
  transform: translate(-50%, -50%);
}



 /** .column-right ul {
   position: absolute;
   top: 50%;
   left: 70%;
   margin-right: -50%;
   transform: translate(-50%, -50%);

 }**/



 .column-right li {
   font-size: 120%;
   display: inline-block;
   color: #8D1C32;
   padding: 0 20px;
 }

.column-right a {
  color: #8D1C32;
}

.column-right a:hover {
  color: #A3737D;
  text-decoration: none;
}




/****************** 2nd section ******************/

.second-section {
  text-align: center;
}

.team-img {
  width: 800px;

}
